<div class="main-content bg-transparent">
  <div class="container mt-6 pb-8">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="client-logo-area">
              <img class="client-logo" src="assets/img/brand/webe-logo.png" />
            </div>
            <form role="form">
              <div
                class="form-group mb-3"
                [ngClass]="{ focused: focus === true }"
              >
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-warning">
                      <i class="ni ni-email-83 text-white"></i>
                    </span>
                  </div>
                  <input
                    class="form-control text-dark"
                    placeholder="Email"
                    type="email"
                    (focus)="focus = true"
                    (blur)="focus = false"
                  />
                </div>
              </div>
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-warning my-4"
                  (click)="doResetPassword()"
                >
                  Reset Password
                </button>
              </div>
            </form>

            <div class="row mt-3">
              <div class="col-6 text-left">
                <a class="text-default" [routerLink]="['/auth/register']">
                  <small> Register </small>
                </a>
              </div>

              <div class="col-6 text-right">
                <a class="text-default" [routerLink]="['/auth/login']">
                  <small> Sign in </small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
