<div class="header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-dark d-inline-block mb-0">
            Site Selection & Final Candidate
          </h6>

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>
        </div>

        <div class=" col-lg-6 col-5 text-right">
          <button
            class="btn btn-default"
            (click)="open(classic1, 'modal_mini', 'sm', 'Add New')"
          >
            Add New
          </button>

          <ng-template #classic1 let-c="close" let-d="dismiss">
            <div class="modal-content">
              <div class="modal-body p-0">
                <div class="card bg-secondary shadow border-0">
                  <div class="card-header bg-default">
                    <div class="text-muted text-center mb-3">
                      <h2 class=" mb-0 text-white">{{ processTitle }}</h2>
                    </div>
                  </div>
                  <div class="card-body px-lg-5 py-lg-5">
                    <form>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter site id"
                          [(ngModel)]="formInput.siteid"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter username"
                          [(ngModel)]="formInput.username"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          class="form-control"
                          type="date"
                          [(ngModel)]="formInput.date"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          class="form-control"
                          type="time"
                          [(ngModel)]="formInput.time"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="text-center">
                        <button class="btn btn-default">
                          Submit
                        </button>
                        <button
                          class="btn btn-secondary"
                          data-dismiss="modal"
                          (click)="c('Close click')"
                        >
                          Cancel
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div
          class="map-leaflet"
          leaflet
          [leafletOptions]="leafletOptions"
          [leafletLayers]="markers"
        ></div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header py-3 bg-secondary">
          <h4 class="m-0">Legends</h4>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <img
                src="assets/img/marker/marker-green.svg"
                style="max-height: 40px"
              />
              <span class="badge badge-success badge-pill">Online</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <img
                src="assets/img/marker/marker-yellow.svg"
                style="max-height: 40px"
              />
              <span class="badge badge-warning badge-pill">Warning</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <img
                src="assets/img/marker/marker-red.svg"
                style="max-height: 40px"
              />
              <span class="badge badge-danger badge-pill">Done</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class=" mb-0">List</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter site id"
                  [(ngModel)]="searchInput.siteid"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter username"
                  [(ngModel)]="searchInput.username"
                />
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-warning" (click)="searchTable()">
              Search
            </button>
            <button class="btn btn-secondary" (click)="resetTable()">
              Reset
            </button>
          </div>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <!-- <div class="col-sm-12 col-md-6">
                    <div id="datatable_filter" class="dataTables_filter">
                      <label>
                        <input
                          type="search"
                          class="form-control form-control-sm"
                          placeholder="Search records"
                          aria-controls="datatable"
                          (keyup)="filterTable($event)"
                        />
                      </label>
                    </div>
                  </div> -->
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column name="siteid"></ngx-datatable-column>
            <ngx-datatable-column name="username"></ngx-datatable-column>
            <ngx-datatable-column name="date"></ngx-datatable-column>
            <ngx-datatable-column name="time"></ngx-datatable-column>
            <ngx-datatable-column name="Actions" sortable="false" prop="id">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <button
                  class="btn btn-default btn-sm"
                  (click)="edit(row, classic1)"
                >
                  <i class="fas fa-edit"></i>
                </button>

                <button class="btn btn-danger btn-sm" (click)="delete(value)">
                  <i class="fas fa-trash"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
