<div class="header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-dark d-inline-block mb-0">Helpdesk</h6>

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>
        </div>

        <div class=" col-lg-6 col-5 text-right">
          <button
            class="btn btn-default"
            (click)="open(classic1, 'modal_mini', 'sm', 'Add New Helpdesk')"
          >
            Add New Helpdesk
          </button>

          <ng-template #classic1 let-c="close" let-d="dismiss">
            <div class="modal-content">
              <div class="modal-body p-0">
                <div class="card bg-secondary shadow border-0">
                  <div class="card-header bg-default">
                    <div class="text-muted text-center mb-3">
                      <h2 class=" mb-0 text-white">{{ processTitle }}</h2>
                    </div>
                  </div>
                  <div class="card-body px-lg-5 py-lg-5">
                    <form>
                      <div class="form-group">
                        <select
                          class="form-control"
                          [(ngModel)]="formInput.type"
                          [ngModelOptions]="{ standalone: true }"
                        >
                          <option value="" selected>Please select type</option>
                          <option value="error">Error</option>
                          <option value="faq">FAQ</option>
                          <option value="data">Data</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter url"
                          [(ngModel)]="formInput.url"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <textarea
                          class="form-control"
                          placeholder="Enter description"
                          rows="3"
                          [(ngModel)]="formInput.description"
                          [ngModelOptions]="{ standalone: true }"
                        ></textarea>
                      </div>
                      <div class="form-group">
                        <input
                          class="form-control"
                          type="date"
                          [(ngModel)]="formInput.createddate"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          class="form-control"
                          type="date"
                          [(ngModel)]="formInput.answereddate"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <select
                          class="form-control"
                          [(ngModel)]="formInput.level"
                          [ngModelOptions]="{ standalone: true }"
                        >
                          <option value="" selected>Please select level</option>
                          <option value="urgent">Urgent</option>
                          <option value="critical">Critical</option>
                          <option value="moderate">Moderate</option>
                          <option value="low">Low</option>
                        </select>
                      </div>
                      <div class="text-center">
                        <button class="btn btn-default">
                          Submit
                        </button>
                        <button
                          class="btn btn-secondary"
                          data-dismiss="modal"
                          (click)="c('Close click')"
                        >
                          Cancel
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <!-- <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header text-muted text-uppercase">
            Number of patients according to triage ({{ todaydate }})
          </div>
          <div class="card-body">
            <div id="chartdiv" style="width: 100%; height: 400px"></div>
          </div>
        </div>
      </div>
    </div> -->
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class=" mb-0">Helpdesk List</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <select class="form-control" [(ngModel)]="searchInput.type">
                  <option value="" selected>Please select type</option>
                  <option value="error">Error</option>
                  <option value="faq">FAQ</option>
                  <option value="data">Data</option>
                </select>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter url"
                  [(ngModel)]="searchInput.url"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <select class="form-control" [(ngModel)]="searchInput.level">
                  <option value="">Please select level</option>
                  <option value="urgent">Urgent</option>
                  <option value="critical">Critical</option>
                  <option value="moderate">Moderate</option>
                  <option value="low">Low</option>
                </select>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter description"
                  [(ngModel)]="searchInput.description"
                />
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-danger" (click)="searchTable()">
              Search
            </button>
            <button class="btn btn-secondary" (click)="resetTable()">
              Reset
            </button>
          </div>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column name="Type"></ngx-datatable-column>
            <ngx-datatable-column name="Url"></ngx-datatable-column>
            <ngx-datatable-column name="Description">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ value.length > 20 ? (value | slice: 0:20) + ".." : value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Createddate"></ngx-datatable-column>
            <ngx-datatable-column name="Answereddate"></ngx-datatable-column>
            <ngx-datatable-column name="Level">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <span class="badge badge-danger" *ngIf="value == 'critical'">
                  critical
                </span>

                <span class="badge badge-warning" *ngIf="value == 'urgent'">
                  urgent
                </span>

                <span class="badge badge-primary" *ngIf="value == 'moderate'">
                  moderate
                </span>

                <span class="badge badge-success" *ngIf="value == 'low'">
                  low
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" sortable="false" prop="id">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <button
                  class="btn btn-default btn-sm"
                  (click)="editHelpdesk(row, classic1)"
                >
                  <i class="fas fa-edit"></i>
                </button>

                <button
                  class="btn btn-danger btn-sm"
                  (click)="deleteHelpdesk(value)"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
