<div class="header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-dark d-inline-block mb-0">
            Purchase Request & Purchase Order Management
          </h6>

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>
        </div>

        <div class=" col-lg-6 col-5 text-right">
          <button
            class="btn btn-default"
            (click)="open(classic1, 'modal_mini', 'sm', 'Add New')"
          >
            Add New
          </button>

          <ng-template #classic1 let-c="close" let-d="dismiss">
            <div class="modal-content">
              <div class="modal-body p-0">
                <div class="card bg-secondary shadow border-0">
                  <div class="card-header bg-default">
                    <div class="text-muted text-center mb-3">
                      <h2 class=" mb-0 text-white">{{ processTitle }}</h2>
                    </div>
                  </div>
                  <div class="card-body px-lg-5 py-lg-5">
                    <form>
                      <div class="form-group">
                        <label>Purchase Request ID</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter purchase request id"
                          [(ngModel)]="formInput.purchaserequestid"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <label>Purchase Order</label>
                        <input
                          class="form-control"
                          placeholder="Enter purchase order"
                          type="text"
                          [(ngModel)]="formInput.purchaseorder"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <label>Date</label>
                        <input
                          class="form-control"
                          type="date"
                          [(ngModel)]="formInput.date"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <label>Progress</label>
                        <select
                          class="form-control"
                          [(ngModel)]="formInput.progress"
                          [ngModelOptions]="{ standalone: true }"
                        >
                          <option value="" selected
                            >Please select progress</option
                          >
                          <option
                            [value]="progress"
                            *ngFor="let progress of progresss"
                            >{{ progress }}</option
                          >
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Activity ID</label>
                        <input
                          class="form-control"
                          placeholder="Enter activity id"
                          type="text"
                          [(ngModel)]="formInput.activityid"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <div
                          class="row pb-3"
                          *ngFor="let addmaterial of addmaterials"
                        >
                          <div class="col">
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Enter material"
                            />
                          </div>
                          <div class="col">
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Enter quantity"
                            />
                          </div>
                          <button class="btn btn-warning" (click)="addMaterial(addmaterial)">
                            +
                          </button>
                          <button class="btn btn-danger" (click)="removeMaterial(addmaterial)">
                            -
                          </button>
                        </div>
                      </div>
                      <div class="text-center">
                        <button class="btn btn-default">
                          Submit
                        </button>
                        <button
                          class="btn btn-secondary"
                          data-dismiss="modal"
                          (click)="c('Close click')"
                        >
                          Cancel
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div id="chartdiv" style="width: 100%; height: 400px"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class=" mb-0">List</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter purchase request id"
                  [(ngModel)]="searchInput.purchaserequestid"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter purchase order"
                  [(ngModel)]="searchInput.purchaseorder"
                />
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-warning" (click)="searchTable()">
              Search
            </button>
            <button class="btn btn-secondary" (click)="resetTable()">
              Reset
            </button>
          </div>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <!-- <div class="col-sm-12 col-md-6">
                      <div id="datatable_filter" class="dataTables_filter">
                        <label>
                          <input
                            type="search"
                            class="form-control form-control-sm"
                            placeholder="Search records"
                            aria-controls="datatable"
                            (keyup)="filterTable($event)"
                          />
                        </label>
                      </div>
                    </div> -->
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column
              name="purchaserequestid"
            ></ngx-datatable-column>
            <ngx-datatable-column name="purchaseorder"></ngx-datatable-column>
            <ngx-datatable-column name="date"></ngx-datatable-column>
            <ngx-datatable-column name="progress">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <span *ngIf="value == 'complete'" class="badge badge-success">
                  complete
                </span>

                <span *ngIf="value == 'pending'" class="badge badge-warning">
                  pending
                </span>

                <span *ngIf="value == 'not started'" class="badge badge-danger">
                  not started
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" sortable="false" prop="id">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <button
                  class="btn btn-default btn-sm"
                  (click)="edit(row, classic1)"
                >
                  <i class="fas fa-edit"></i>
                </button>

                <button class="btn btn-danger btn-sm" (click)="delete(value)">
                  <i class="fas fa-trash"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
