<div class="header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-dark d-inline-block mb-0">
            Utility - User
          </h6>

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>
        </div>

        <div class=" col-lg-6 col-5 text-right">
          <button
            class="btn btn-dark"
            (click)="open(classic1, 'modal_mini', 'sm', 'Add New User')"
          >
            Add New User
          </button>

          <ng-template #classic1 let-c="close" let-d="dismiss">
            <div class="modal-content">
              <div class="modal-body p-0">
                <div class="card bg-secondary shadow border-0">
                  <div class="card-header bg-dark">
                    <div class="text-muted text-center mb-3">
                      <h2 class=" mb-0 text-white">{{ processTitle }}</h2>
                    </div>
                  </div>
                  <div class="card-body px-lg-5 py-lg-5">
                    <form>
                      <div class="form-group">
                        <label>Username</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter username"
                          [(ngModel)]="formInput.username"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <label>Email</label>
                        <input
                          type="email"
                          class="form-control"
                          placeholder="Enter email"
                          [(ngModel)]="formInput.email"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <label>Status</label>
                        <select
                          class="form-control"
                          [(ngModel)]="formInput.status"
                          [ngModelOptions]="{ standalone: true }"
                        >
                          <option value="" selected
                            >Please select status</option
                          >
                          <option value="active">Active</option>
                          <option value="not active">Not Active</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>User Type</label>
                        <select
                          class="form-control"
                          [(ngModel)]="formInput.usertype"
                          [ngModelOptions]="{ standalone: true }"
                        >
                          <option value="" selected
                            >Please select user type</option
                          >
                          <option value="admin">Admin</option>
                          <option value="branch">Branch</option>
                          <option value="customer">Customer</option>
                          <option value="headquarter">Headquarter</option>
                        </select>
                      </div>
                      <div class="text-center">
                        <button class="btn btn-dark">
                          Submit
                        </button>
                        <button
                          class="btn btn-secondary"
                          data-dismiss="modal"
                          (click)="c('Close click')"
                        >
                          Cancel
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <!-- <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header text-muted text-uppercase">
                    Number of patients according to triage ({{ todaydate }})
                  </div>
                  <div class="card-body">
                    <div id="chartdiv" style="width: 100%; height: 400px"></div>
                  </div>
                </div>
              </div>
            </div> -->
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class=" mb-0">User List</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter username"
                  [(ngModel)]="searchInput.username"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter email"
                  [(ngModel)]="searchInput.email"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <select class="form-control" [(ngModel)]="searchInput.status">
                  <option value="" selected>Please select status</option>
                  <option value="active">Active</option>
                  <option value="not active">Not Active</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control" [(ngModel)]="searchInput.usertype">
                  <option value="" selected>Please select user type</option>
                  <option value="admin">Admin</option>
                  <option value="branch">Branch</option>
                  <option value="customer">Customer</option>
                  <option value="headquarter">Headquarter</option>
                </select>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-dark" (click)="searchTable()">
              Search
            </button>
            <button class="btn btn-secondary" (click)="resetTable()">
              Reset
            </button>
          </div>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <!-- <div class="col-sm-12 col-md-6">
                          <div id="datatable_filter" class="dataTables_filter">
                            <label>
                              <input
                                type="search"
                                class="form-control form-control-sm"
                                placeholder="Search records"
                                aria-controls="datatable"
                                (keyup)="filterTable($event)"
                              />
                            </label>
                          </div>
                        </div> -->
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column name="Id"></ngx-datatable-column>
            <ngx-datatable-column name="Username"></ngx-datatable-column>
            <ngx-datatable-column name="Email"></ngx-datatable-column>
            <ngx-datatable-column name="Status"></ngx-datatable-column>
            <ngx-datatable-column name="Usertype"></ngx-datatable-column>
            <ngx-datatable-column name="Lastlogin"></ngx-datatable-column>
            <ngx-datatable-column name="Actions" sortable="false" prop="id">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <button
                  class="btn btn-dark btn-sm"
                  (click)="editUser(row, classic1)"
                >
                  <i class="fas fa-edit"></i>
                </button>

                <!-- <button
                        class="btn btn-danger btn-sm"
                        (click)="deleteUser(value)"
                      >
                        <i class="fas fa-trash"></i>
                      </button> -->
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
